%form{:method => "post"}
  Full Name :
  %input{:name => "fullname", :type => "text"}
    %BR
      Email     :
      %input{:name => "email", :type => "text"}
        %BR
          username  :
          %INPUT{:NAME => "user", :TYPE => "TEXT"}
            %BR
              password  :
              %INPUT{:NAME => "pass", :TYPE => "PASSWORD"}
                %BR
                  %P
                    %INPUT{:TYPE => "SUBMIT", :VALUE => "submit"}
